body{
	background: #303030;
	margin: 0;
}

.wrapper_name{
	background: #727272;
	position: absolute;
	top: 75px;
	border: 3px solid #F8F8F8;
	border-radius: 30px;
	padding: 30px;
	left: 50%;
	transform: translateX(-50%);
}

.wrapper_name .name{
	display: inline-block;
	position: relative;
	transform: translateX(-50%);
	left: 50%;
	color: #F8F8F8;
	font-family: 'Nunito', sans-serif;
	font-size: 50px;
}

.wrapper_name .desc{
	display: inline-block;
	position: relative;
	transform: translateX(-50%);
	left: 50%;
	color: #F8F8F8;
	font-family: 'Nunito', sans-serif;
	font-size: 25px;
}

.wrapper_name .line{
	display: block;
	border: none;
	margin-top: 20px;
	margin-bottom: 20px;
	background: #F8F8F8;
	border-radius: 3px;
	height: 3px;
	outline: none;
	width: 100%;
}

.wave-btn{
	bottom: 75px;
	left: 50%;
	transform: translateX(-50%);
	width: 280px;
	position: absolute;
	height: 60px;
	display: flex;
	transition: all .8s ease 0s;
	justify-content: center;
	align-items: center;
	border-radius: 0 0 10px 10px;
	text-decoration: none;
	overflow: hidden;
	cursor: pointer;
}

.wave-btn:hover{
	border-radius: 10px;
	transition: all .8s ease .2s;
	box-shadow: 0 0 40px rgba(114, 114, 114, .6);
}

.wave-btn:hover .wave-btn__waves{
	top: -50px;
}

.wave-btn__text{
	color: #F8F8F8;
	text-transform: uppercase;
	font-family: 'Nunito', sans-serif;
	letter-spacing: 5px;
	position: relative;
	z-index: 1;
}

.wave-btn__waves{
	position: absolute;
	width: 280px;
	height: 280px;
	background: #727272;
	top: 0;
	left: 0;
	box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
	transition: all .8s ease 0s;
}

.wave-btn__waves:after,
.wave-btn__waves:before{
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	width: 250%;
	height: 250%;

	transform: translate3d(-50%, -96%, 0px) rotate(0deg) scale(1);
}

.wave-btn__waves:before{
	background: #303030;
	border-radius: 48%;
	animation: waves 5s infinite linear;
}

.wave-btn__waves:after{
	background: rgba(48, 48, 48, .5);
	border-radius: 44%;
	animation: waves 10s infinite linear;
}

@keyframes waves{
	0%{
		transform: translate3d(-50%, -96%, 0px) rotate(0deg) scale(1);
	}
	100%{
		transform: translate3d(-50%, -96%, 0px) rotate(360deg) scale(1);
	}
}

.intro{
	position: absolute;
	z-index: -1;
	height: 100%;
	width: 100%;
}